.user-action-block {
    .unblock-user {
        font-size: 14px;
        height: 32px;
        padding: 0px 15px;
        border-radius: 6px;
        color: #fff;
        background: #1677ff;
        border: 1px solid transparent;
    }
}