.table {
  &-wrapper {
    * {
      border: 1px solid transparent !important;
    }
  }
  &-description {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  &-row {
    &-user {
      display: flex;
      align-items: center;
      gap: 4px;
      &-avatar {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        overflow: hidden;
      }
      &-name {
      }
    }
  }
}

// .select {
//   &-wrapper {
//     display: flex;
//     align-items: center;
//     gap: 16px;
//   }
// }
